<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
   </head>
    
   <body>
   <div class="container">
   <th:block th:include="/_menu"></th:block>  
   <div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a simple Application, Human resources management.</p>
	  <hr class="my-4">
	  <p>Spring Boot + Spring Security + Thymeleaf</p>
	  <a class="btn btn-primary btn-lg" href="/userInfo" role="button">Chek you profil</a>
	</div>
     </div>      
   </body>
</html>